Child Tracker using IBM Cloud/flows.json
[{"id":"b9be377513d2c547","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b1b11140.4e4ef","type":"inject","z":"b9be377513d2c547","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"Hello Node-RED!","payloadType":"str","x":160,"y":100,"wires":[["f2f2649a.0d0d98"]]},{"id":"f2f2649a.0d0d98","type":"debug","z":"b9be377513d2c547","name":"","active":true,"console":"false","complete":"false","x":410,"y":100,"wires":[]},{"id":"545a5c991ca903af","type":"ibmiot in","z":"b9be377513d2c547","authentication":"apiKey","apiKey":"054e6d917c181913","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"Device","eventType":"+","commandType":"cmd","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":110,"y":160,"wires":[["c92ef9e97bd846bb"]]},{"id":"c92ef9e97bd846bb","type":"function","z":"b9be377513d2c547","name":"","func":"var name = msg.payload.name\nvar lat = msg.payload.lat\nvar lon = msg.payload.lon\nglobal.set('latitude',lat)\nglobal.set('longitude',lon)\nglobal.set('name',name)\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":160,"wires":[["bac96fd44de5596e","f7214d6a83439a7a"]]},{"id":"f7214d6a83439a7a","type":"function","z":"b9be377513d2c547","name":"","func":"msg.payload={\n    'name': global.get('name'),\n    'lat': global.get('latitude'),\n    'lon': global.get('longitude')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":220,"wires":[["10d007bda4b50da7","bc1a9a2fccb7882b"]]},{"id":"bc1a9a2fccb7882b","type":"geofence","z":"b9be377513d2c547","name":"","mode":"circle","inside":"both","rad":527.0125413859314,"points":[],"centre":{"latitude":17.419219315324252,"longitude":78.54383736848831},"floor":"","ceiling":"","worldmap":false,"outputs":1,"x":260,"y":300,"wires":[["e28e975ac36356b1"]]},{"id":"10d007bda4b50da7","type":"ui_worldmap","z":"b9be377513d2c547","group":"b7885331c4a54fb3","order":0,"width":0,"height":0,"name":"","lat":"17.4226372","lon":"78.5456505","zoom":"16","layer":"OSMG","cluster":"","maxage":"","usermenu":"show","layers":"hide","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"true","coords":"none","showgrid":"false","allowFileDrop":"false","path":"/worldmap","overlist":"DR,CO,RA,DN,HM","maplist":"OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW","mapname":"","mapurl":"","mapopt":"","mapwms":false,"x":460,"y":220,"wires":[]},{"id":"466c9fb9de4859ef","type":"rbe","z":"b9be377513d2c547","name":"ife","func":"rbe","gap":"","start":"","inout":"out","septopics":false,"property":"payload","topi":"topic","x":330,"y":360,"wires":[["d5cc1e4df1872942"]]},{"id":"e28e975ac36356b1","type":"function","z":"b9be377513d2c547","name":"","func":"msg.payload = msg.location.inarea\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":360,"wires":[["466c9fb9de4859ef"]]},{"id":"d5cc1e4df1872942","type":"switch","z":"b9be377513d2c547","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":480,"wires":[["cdbc13cd1508681a","4b49db6d837e8577"],["6815bdbf807ebde7"]]},{"id":"cdbc13cd1508681a","type":"function","z":"b9be377513d2c547","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":420,"wires":[["5c5d7e0c51a27d9e","579471d0e82b0c3c","0440909360a4ab19"]]},{"id":"4b49db6d837e8577","type":"function","z":"b9be377513d2c547","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() *60000);\nvar offset=5.5;\nnewDate= new Date(utc+(3600000*offset));\nmsg.payload={\n    \"message\": \"Exit\",\n    \"Time\": newDate.toLocaleString(),\n    \"name\": global.get('name'),\n    \"lat\": global.get('latitude'),\n    \"lon\": global.get('longitude')\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":480,"wires":[["2c98344df291fdd2","6d5a018fcb48bd83"]]},{"id":"6815bdbf807ebde7","type":"function","z":"b9be377513d2c547","name":"","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset() *60000);\nvar offset=5.5;\nnewDate= new Date(utc+(3600000*offset));\nmsg.payload={\n    \"message\": \"Exit\",\n    \"Time\": newDate.toLocaleString(),\n    \"name\": global.get('name'),\n    \"lat\": global.get('latitude'),\n    \"lon\": global.get('longitude')\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":540,"wires":[["6d5a018fcb48bd83"]]},{"id":"5c5d7e0c51a27d9e","type":"ui_toast","z":"b9be377513d2c547","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"OK","cancel":"","raw":false,"className":"","topic":"","name":"","x":550,"y":420,"wires":[[]]},{"id":"2c98344df291fdd2","type":"cloudant out","z":"b9be377513d2c547","name":"","cloudant":"","database":"iotproject","service":"node-red-bkzxf-2021--cloudant-1639153706296-82706","payonly":true,"operation":"insert","x":540,"y":480,"wires":[]},{"id":"6d5a018fcb48bd83","type":"debug","z":"b9be377513d2c547","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":550,"y":540,"wires":[]},{"id":"bac96fd44de5596e","type":"debug","z":"b9be377513d2c547","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":160,"wires":[]},{"id":"579471d0e82b0c3c","type":"http request","z":"b9be377513d2c547","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://www.fast2sms.com/dev/bulkV2?authorization=jJvqwe89CKOGfhkBVyxTcm6s3a74gRMlYtnEu5boW1dX2HIQ0pgmtMJ4qxlauP79LDcj20E6Y5CBFzdb&route=q&message=false&language=english&flash=0&numbers=9643871267","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":550,"y":360,"wires":[["0440909360a4ab19"]]},{"id":"0440909360a4ab19","type":"debug","z":"b9be377513d2c547","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"hello","targetType":"msg","statusVal":"","statusType":"auto","x":560,"y":300,"wires":[]},{"id":"054e6d917c181913","type":"ibmiot","name":"IOTAPIKEY","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"b7885331c4a54fb3","type":"ui_group","name":"MAP","tab":"02d2b50afca2eaa3","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"02d2b50afca2eaa3","type":"ui_tab","name":"Tracker","icon":"dashboard","order":1,"disabled":false,"hidden":false}]